.leaderboard-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
}

.leaderboard-text{
    color: #E4E6EA;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
    text-align: left;
}

.leaderboard-text:first-child{
    text-indent: 1rem;
}

.leader-item {
    border: 1px solid #1F2891;
    max-width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #210435B2;
    box-shadow: 0 0 30px -14px #F2DB0AFC;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 15px;
}

.leader-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Circular avatars */
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leader-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 5px;
}

.leader-name {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: #E4E6EA;
}

.leader-balance {
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: right;
    align-items: center;
    color: #E4E6EA;
    white-space: nowrap;
}
