/* Intro */
.introduction p {
    color: #E4E6EA;
    font-style: italic;
    font-size: 0.6rem;
    font-weight: 200;

}

.introduction {
    padding-right: 3rem;
    padding-left: 3rem;
}

.motivation p{
    text-indent: 1rem;
    font-size: 0.7rem;
    color: #E4E6EA;
    margin-bottom: 0;
    margin-top: 2rem;
    font-style: italic;
    font-weight: 100;
}

.list-of-prizes {
    margin-top: 0;
    margin-bottom: 0;
}

.list-of-prizes li{
    text-indent: 0.6rem;
    list-style-position: inside;
}
.information {
    margin: 0;
    text-indent: 1rem;
}


/*Game Zone */

.game_zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.fund {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #FBF33463;
    border: 2px solid #AEF554;
    border-radius: 32px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 3px 1px #58bd1e, inset 0 0 3px 1px #58bd1e;
}

.fund p {
    color: #e4dea3;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.14em;
    text-align: center;
    margin: 0 0 0 0.5rem;
}

.fundDivider {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    height: 1.2rem;
    display: inline-block;
    margin: .3rem;
}

.fund img {
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 0.2rem;
}

.fund .fundAmount {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    margin-right: 1rem;
}

/* Ticket Buying */

.ticket-buying {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    color: #f2f1f6;
    width: 67%;
    background: #210435B2;
    border-radius: 20px;
    border: 1px solid #1F2891;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px -13px #F2DB0AFC;
}

.ticket-buying-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
    gap: 0.2rem;
}

.ticket-buying-information-instruction {
    font-size: 0.45rem;
    font-weight: 200;
    text-align: left;
    padding-left: 0.9rem;
    width: fit-content;
}

.ticket-buying-information-instruction p {
    margin: 0;
    text-indent: 0.4rem;
}

.ticket-buying-information-instruction ol {
    margin: 0;
    padding-left: 0.5rem;
}
.ticket-buying-information-instruction p:nth-child(1) {
    text-indent: 0.4rem;
}

.ticket-buying-information-motivation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0.3rem;
}

.ticket-buying-information-motivation p{
    text-align: center;
    font-size: 0.55rem;
    font-weight: 200;
    width: 70%;
}

.ticket-buying-information-motivation img{
    width: 85%;
}

.ticket-buying-divider {
    margin-top: 0.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    display: inline-block;
}

.ticket-buying-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 30px;
    background: #1E278E;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.4rem;
}

.ticket-buying-button p {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.14em;
    text-align: center;
    margin: 0 0 0 0.3rem;
}

.ticket-buying-button img {
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 0.2rem;
}

.bought-tickets {
    margin-top: 0.5rem;
    color: #f2f1f6;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.bought-ticket {
    width: 80%;
    margin-top: 1.5rem;
    background: #210435B2;
    border: 1px solid #1F2891;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 25px -13px #F2DB0AFC;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bought-ticket p{
    font-size: 0.6rem;
    font-weight: 100;
}

.bought-ticket-info {
    width: 45%;
}



.countdown-timer p{
    text-align: right;
}

.bought-ticket-divider {
    margin-top: 0.2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    height: 3.8rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ticket-finish {
    color: #0D7404;
}





.ticket-container {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}

.ticket-image {
    width: 100%;
}

.ticket-number, .ticket-username {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 6px;
    letter-spacing: 0.2em;

}

.ticket-number {
    top: 5px; /* Adjust as needed */
}

.ticket-username {
    font-size: 5px;
    bottom: 10px; /* Adjust as needed */
}






@media (max-width: 400px) {
    .ticket-buying-button p {
        font-size: 0.6rem;
    }
}

@media (max-width: 356px) {
    .ticket-buying-button p {
        font-size: 0.5rem;
    }
    .ticket-buying-button img {
        width: 0.8rem;
        height: 0.8rem;
    }
    .ticket-username{
        bottom: 9px;
    }
}



@media (max-width: 320px) {
    .ticket-buying-button p {
        font-size: 0.4rem;
    }
    .ticket-buying-button img {
        width: 0.7rem;
        height: 0.7rem;
    }
    .ticket-username{
        font-size: 4px;
        bottom: 8px;
    }
    .ticket-number {
        font-size: 5px;
    }
}