/* Game Introduction */
.game-introduction {
    text-align: center;
    padding: 1rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.game-introduction p {
    color: #E4E6EA;
    font-size: 9px;
    font-style: italic;
    font-weight: 400;
    line-height: 10.89px;
    text-align: left;
}
