/* Game Introduction */
.game-introduction {
    text-align: center;
    padding: 2rem;
    color: white;
    font-family: 'Inter', system-ui;
}

.game-introduction p {
    text-indent: 1rem;
    color: #E4E6EA;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
    text-align: left;
}


