/* Bottom Navigation */
.bottom-navigation {
    display: flex;
    justify-content: space-around;
    background-color: #1d1d1d;
    padding: 0.5rem 0.5rem 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #3B3A3A;
}

.nav-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 0.1rem;
    transition: transform 0.2s;
}

.nav-item .nav-icon,
.nav-item .nav-text {
    transform: scale(1);
    transition: transform 0.3s ease; /* Add smooth scaling transition */
}

.nav-item.active .nav-icon,
.nav-item.active .nav-text {
    transform: scale(1.2); /* Scale when active */
}

.nav-text.active {
    font-weight: bold;
}

.red-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.nav-item {
    text-align: center;
    position: relative;
}

.nav-item img {
    width: 32px;
    height: 32px;
    margin-bottom: 0.1rem;
}

.nav-item p {
    color: #4C4D4F;
    font-size: 0.55rem;
    margin: 0;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: 0.14em;
    text-align: center;
    transition: transform 0.2s;
}

p.nav-text.active{
    color: #E4E6EA;
    transform: scale(1.2);
}