/* Bottom Navigation */
.bottom-navigation {
    display: flex;
    justify-content: space-around;
    background-color: #1d1d1d;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #3B3A3A;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 32px;
    height: 32px;
    margin-bottom: 0.1rem;
}



.nav-item p {
    color: #4C4D4F;
    font-size: 0.55rem;
    margin: 0;
    font-weight: 500;
    line-height: 8.47px;
    letter-spacing: 0.14em;
    text-align: center;
}


p.nav-text-selected{
    color: #E4E6EA;
}